.App {
  text-align: center;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  background-color: pink;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

li {
  float: left;
  list-style-type: none;
  flex-direction: row;
  /*display: block;*/
  /*flex-wrap: wrap;*/
  /*margin: 90px;*/
  margin-right: 90px;
  margin-left: 90px;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
